#body{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: tomato;
}


#header{
    font-size: 60px;
    grid-column: 5/ 11;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#goombaPic{
    height: 50px;
    width: 50px;
}

#bomb{
    height: 50px;
    margin-top: 18px;
    width: 50px;

}
#fish{
    height: 50px;
    width: 50px;
    grid-column: 1 ;
    margin-top: 10px;
    

}

.list{
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(10, 150px auto);
    grid-template-rows: repeat(5, 31% auto);
    background-color: ghostwhite;
}

.listItems{
    grid-column: 9;
    font-size: larger;
    grid-row: 2;
}

.photos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 7;
    grid-row: 2;
}

#goombaInput{
    height: 50px;
    margin-top: 5px;
}

#bombInput{
    height: 50px;
    margin-top: 5px;
}

#cheepInput{
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.priceInput{
    display: flex;
    flex-direction: column;
    grid-column: 11;
    grid-row: 2;
}

.prices{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    grid-column: 13;
    grid-row: 2;
}

.totalPrice{
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-column: 9 / 13;
    grid-row: 4;

}

#footer{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: tomato;
    grid-column: 1/ -1;
    grid-row: -1;
}

#all{
    background-color: ghostwhite;
}

@media only screen and (max-width: 500px){
    #header{
        font-size: 20px;
        grid-column: 2 / 7;
    }

    .photos{
        grid-column: 1;
        margin-right: 50px;
        position: absolute;
        height: 30px;
        margin-top: 60px;
    }

    .priceInput{
        grid-column: 3;
        margin-left: 50px;
        grid-row: 1;
    }

    .prices{
        grid-column: 3;
        font-size: 15px;
        position: absolute;
        margin-left: 80px;
        margin-top: 25px;
    }

    .listItems{
        font-size: 15px;
        grid-column: 2;
        margin-left: 40px;
        position: absolute;
    }

    #footer{
        font-size: 10px;
        display: flex;
        justify-content: flex-start;
        grid-row: 5;
        height: 15px;
    }

    .totalPrice{
        grid-column: 1;
        font-size: 10px;
    }
}