.die{
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.App{
  display: flex;
  justify-content: space-around;

}

.die-number{
  font-size: 80px;
  display: flex;
  justify-content: center;
  
}